<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

    <form action="/space_hammocks/new" method="get">
      <input type="submit" value="List my Space Hammock">
    </form>

    <form action="/space_hammocks/1/book" method="get">
      <input type="submit" value="Book">
    </form>

    <h1>Available Space Hammocks</h1>
    <h3><%= @name %></h3>

    <body class="container">
    <% @all_hammocks.each do |hammock| %>
      <%=hammock[:name]%>
      <%=hammock[:description]%>
      <%=hammock[:price_per_night]%>
      <br>
      <form action="/space_hammocks/<%=hammock[:id]%>/book" method="get" class="hammock_book">
        <input type="submit" value="Book">
      </form>
    <%end%>


  </body>
</html>
