<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body class="container">

    <%=@hammock.name%>
    <%=@hammock.description%>
    <%=@hammock.price_per_night%>
    <%=@hammock.owner%>

    <form action="/space_hammocks/new" method="get">
      <input type="submit" value="List my Space Hammock">
    </form>

    <h1>Available Space Hammocks</h1>
    <h3><%= @name %></h3>

  </body>
</html>
