<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body class="container">
    <header>
      <h3> Welcome <%=@username ? @username : "Guest"%>!</h3>
      <!-- nav bar -->
      <a href="/users/new">Sign Up</a>
      <a href="/users/sign_in">Sign In</a>
    </header>
    <br>
    <form action="/space_hammocks/new" method="get">
      <input type="submit" value="List my Space Hammock">
    </form>

    <h1>Available Space Hammocks</h1>
    <h3><%= @name %></h3>

    <body class="container">
    <% @all_hammocks.each do |hammock| %>
      <%=hammock[:name]%>
      <%=hammock[:description]%>
      <%=hammock[:price_per_night]%>
      <br>
      <form action="/space_hammocks/<%=hammock[:id]%>/book" method="get" class="hammock_book">
        <input type="submit" value="Book">
      </form>
    <%end%>


  </body>
</html>
